In [ ]:
!pip install sqlalchemy psycopg2-binary pandas matplotlib

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

DB_URL = "postgresql+psycopg2://dan:dan@postgres:5432/fit"
engine = create_engine(DB_URL)

In [ ]:
pd.read_sql("SELECT COUNT(*) AS n FROM activity;", engine)

In [ ]:
q1 = """
SELECT
  activity_type,
  COUNT(*)      AS records,
  SUM(steps)    AS steps_sum,
  SUM(calories) AS calories_sum
FROM activity
GROUP BY 1
ORDER BY steps_sum DESC;
"""
df1 = pd.read_sql(q1, engine)
df1

In [ ]:
plt.figure()
plt.bar(df1["activity_type"], df1["steps_sum"])
plt.title("Steps sum by activity_type")
plt.xlabel("activity_type")
plt.ylabel("steps_sum")
plt.xticks(rotation=30, ha="right")
plt.tight_layout()
plt.show()

In [ ]:
q2 = """
SELECT
  date_trunc('minute', created_at) AS minute,
  SUM(steps)    AS steps_sum,
  SUM(calories) AS calories_sum,
  AVG(steps)    AS steps_avg,
  AVG(calories) AS calories_avg
FROM activity
WHERE created_at >= now() - interval '60 minutes'
GROUP BY 1
ORDER BY 1;
"""
df2 = pd.read_sql(q2, engine)
df2.tail()

In [ ]:
plt.figure()
plt.plot(df2["minute"], df2["calories_sum"])
plt.title("Calories per minute (last 60 minutes)")
plt.xlabel("minute")
plt.ylabel("calories_sum")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
plt.figure()
plt.plot(df2["minute"], df2["steps_sum"])
plt.title("Steps per minute (last 60 minutes)")
plt.xlabel("minute")
plt.ylabel("steps_sum")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
q3 = """
SELECT
  id,
  created_at,
  activity_type,
  steps,
  calories
FROM activity
ORDER BY created_at DESC
LIMIT 50;
"""
df3 = pd.read_sql(q3, engine)
df3